* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Barlow", sans-serif;
}

.table-form {
  width: 50%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  font-weight: 400;
}

input[type="number"],
input[type="text"] {
  /* width: 100%;  */
  min-width: 80px;
  padding: 8px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Barlow";
  font-weight: 400;
  color: #333;
}
input::placeholder {
  color: #333;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-family: "Barlow";
}
.submit-section {
  text-align: center;
  margin-top: 20px;
}

.submit-section button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background-color: #ffd700;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3ms ease;
}

.submit-section button:hover {
  background-color: #ffdf80;
}

.submit-section button:active {
  background-color: #ffd900e1;
}
